@import '~bootstrap/scss/bootstrap';

$dark: #2a363b;
$red-primary: #e84a5f;
$red-secondary: #ff847c;
$beige: #feceab;
$green: #99b898;

body {
  background-color: #fff;
}

.header {
  padding: 10px;
  background-color: $dark;

  &__title {
    color: #fff;
  }
}

.table-bordered {
  color: $dark;
  text-align: center;
  font-weight: 500;

  td {
    border-color: $green;
  }
}

.ship {
  background-color: $beige;
}